body
    {
        background-image: url(../images/echtergrund.png);
        background-repeat: repeat;
        background: cover;
    }
h3
    {
        color: whitesmoke !important;
    }
.headtitle
    {
        font-size: 100px;
        margin: 0px;
        color: rgb(108, 147, 34);
        font-family: Impact;
    }
.desctitle
    {
        font-size: 20px;
        margin: 0px;
        color: rgb(108, 147, 34);
        font-family: Impact;
    }
.optionmenu     
    {
        font-size: 25px;
        margin-top: 50px;
        color: whitesmoke !important;
    }
#picturesc
    {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
.examplesc
    {
        margin-top: 20px;
    }
.exampledesc
    {
        margin-top: 30px;
        font-size: 25px;
        color: rgb(105, 176, 108);
    }
.infotext
    {
        font-size: 17px;
        color: whitesmoke !important;
    }
.titlepage
    {
        background-color: rgba(69, 69, 69, 0.85);
        padding-top: 20px;
        padding-bottom: 20px;   
    }
.example
    {
        background-color: rgb(26, 26, 26);
        padding-top: 20px;
        padding-bottom: 20px;
    }
.information
    {
        background-color: rgba(64, 64, 64, 0.85);
        padding-top: 20px;
        padding-bottom: 20px;
    }
.contact
    {
        background-color: rgb(21, 21, 21);
        padding-top: 20px;
        padding-bottom: 20px;
    }
.forml
    {
        text-align: left;
    }
.formr
    {
        text-align: right;
    }
i
    {
        color: rgb(105, 176, 108) !important;
    }
i:hover
    {
        color: rgb(53, 100, 55) !important;
    }
.copyr
    {
        color: whitesmoke !important;
        font-size: 10px;
        margin: 0px;
    }